In [5]:
mehmonlar = ['Shahriddin','Doston', 'Sardor', 'Aminbek', 'Elyor', 'Farruh', 'Shahzod', 'Xojiakbar', 'Xumoyun' ]
for mehmon in mehmonlar:
    print(f"Assalom alekum Hurmatli {mehmon}, sizni 3-oktabr kungi bayramga taklif qilamiz")
    print('Xurmat bilan Shakhriddin Korakhanov')

Assalom alekum Hurmatli Shahriddin, sizni 3-oktabr kungi bayramga taklif qilamiz
Xurmat bilan Shakhriddin Korakhanov
Assalom alekum Hurmatli Doston, sizni 3-oktabr kungi bayramga taklif qilamiz
Xurmat bilan Shakhriddin Korakhanov
Assalom alekum Hurmatli Sardor, sizni 3-oktabr kungi bayramga taklif qilamiz
Xurmat bilan Shakhriddin Korakhanov
Assalom alekum Hurmatli Aminbek, sizni 3-oktabr kungi bayramga taklif qilamiz
Xurmat bilan Shakhriddin Korakhanov
Assalom alekum Hurmatli Elyor, sizni 3-oktabr kungi bayramga taklif qilamiz
Xurmat bilan Shakhriddin Korakhanov
Assalom alekum Hurmatli Farruh, sizni 3-oktabr kungi bayramga taklif qilamiz
Xurmat bilan Shakhriddin Korakhanov
Assalom alekum Hurmatli Shahzod, sizni 3-oktabr kungi bayramga taklif qilamiz
Xurmat bilan Shakhriddin Korakhanov
Assalom alekum Hurmatli Xojiakbar, sizni 3-oktabr kungi bayramga taklif qilamiz
Xurmat bilan Shakhriddin Korakhanov
Assalom alekum Hurmatli Xumoyun, sizni 3-oktabr kungi bayramga taklif qilamiz
Xurmat bilan Shakhriddin Korakhanov

In [8]:
sonlar = list(range(1,11))
for son in sonlar:
    print(f"{son} ning kvadrati =  {son**2} ga teng bo'ladi   ")

1 ning kvadrati =  1 ga teng bo'ladi
2 ning kvadrati =  4 ga teng bo'ladi
3 ning kvadrati =  9 ga teng bo'ladi
4 ning kvadrati =  16 ga teng bo'ladi
5 ning kvadrati =  25 ga teng bo'ladi
6 ning kvadrati =  36 ga teng bo'ladi
7 ning kvadrati =  49 ga teng bo'ladi
8 ning kvadrati =  64 ga teng bo'ladi
9 ning kvadrati =  81 ga teng bo'ladi
10 ning kvadrati =  100 ga teng bo'ladi

In [13]:
sonlar_kvadrati = []
for son in sonlar:
    sonlar_kvadrati.append(son**2)
print(sonlar)
print(sonlar_kvadrati)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
dostlar = []
print("5 ta eng yaqin do'stingizni kiriting")
for n in range(5):
    dostlar.append(input(f"{n+1}- do'stingizni ismini kiriting: "))
print(dostlar)

5 ta eng yaqin do'stingizni kiriting
1- do'stingizni ismini kiriting: Sardor
2- do'stingizni ismini kiriting: Doston
3- do'stingizni ismini kiriting: Elyor
4- do'stingizni ismini kiriting: Amin
5- do'stingizni ismini kiriting: Po'lat
['Sardor', 'Doston', 'Elyor', 'Amin', "Po'lat"]

In [16]:
sabzavotlar = ['kartoshka','sabzi','bodring','pomidor','lavlagi']
for sab in sabzavotlar:
    print(f"Kep qoling bugun {sab}ning narxi juda arzon bo'lib ketdi")

Kep qoling bugun kartoshkaning narxi juda arzon bo'lib ketdi
Kep qoling bugun sabzining narxi juda arzon bo'lib ketdi
Kep qoling bugun bodringning narxi juda arzon bo'lib ketdi
Kep qoling bugun pomidorning narxi juda arzon bo'lib ketdi
Kep qoling bugun lavlagining narxi juda arzon bo'lib ketdi

In [18]:
for n in range(5):
    print(f"Kod {n+1} marta takrorlandi")

Kod 1 marta takrorlandi
Kod 2 marta takrorlandi
Kod 3 marta takrorlandi
Kod 4 marta takrorlandi
Kod 5 marta takrorlandi

In [30]:
toq = list(range(11,100,+2))

In [33]:
for kub in toq:
    print(kub**3 )

1331
2197
3375
4913
6859
9261
12167
15625
19683
24389
29791
35937
42875
50653
59319
68921
79507
91125
103823
117649
132651
148877
166375
185193
205379
226981
250047
274625
300763
328509
357911
389017
421875
456533
493039
531441
571787
614125
658503
704969
753571
804357
857375
912673
970299

In [34]:
kinolar = []
print("Eng sevimli kinoyingizni kiriting:")
for n in range(5):
    kinolar.append(input(f"{n+1} kinoning nomini kiriting:"))
print(kinolar)

Eng sevimli kinoyingizni kiriting:
1 kinoning nomini kiriting:Titanik
2 kinoning nomini kiriting:Avatar
3 kinoning nomini kiriting:Garry Potter
4 kinoning nomini kiriting:Uzuklar Hukumdori
5 kinoning nomini kiriting:Shaytanat
['Titanik', 'Avatar', 'Garry Potter', 'Uzuklar Hukumdori', 'Shaytanat']

In [36]:
n_people = int(input("Bugun necha kishi bn suhbat qildingiz?>>>"))

suxbat = []
print("Bugun kim bilan ko'rishdingiz")
for n in range(n_people):
    suxbat.append(input(f"{n+1}-tanishgan insoningizni ismini kiriting:"))
print(suxbat)

Bugun necha kishi bn suhbat qildingiz?>>>5
Bugun kim bilan ko'rishdingiz
1-tanishgan insoningizni ismini kiriting:Sardor
2-tanishgan insoningizni ismini kiriting:vali#
3-tanishgan insoningizni ismini kiriting:ali
4-tanishgan insoningizni ismini kiriting:gani
5-tanishgan insoningizni ismini kiriting:mane
['Sardor', 'vali#', 'ali', 'gani', 'mane']

In [37]:
x= ('Aplle')

In [38]:
print(type(x))

<class 'str'>

In [39]:
x= 5
x= complex(x)

In [40]:
x

(5+0j)

In [41]:
txt = "Hello World"
txt = txt.replace("H", "J")

In [42]:
txt

'Jello World'

In [45]:
age = 25
txt = "My name is Shakhin and i am {}"
print(txt.format(age))

My name is Shakhin and i am 25

In [47]:
fruits = ("apple", "banana", "cherry")
print(fruits[0:])

('apple', 'banana', 'cherry')

In [48]:
print(len(fruits))

3

In [52]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)

In [53]:
fruits.update(more_fruits)

In [54]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [57]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang

In [58]:
print("Yes") if 5 > 2 else print("No")

Yes

In [60]:
i = 1
while i < 6:
  if i == 3:
    
    break

  i += 1

3

In [67]:
 def my_function(*kids):
    print("The youngest child is " + kids[2])
    1

In [69]:
x = lambda a:a
print(x)

<function <lambda> at 0x000001F62C87F670>

In [70]:
class MyClass():
    x=5
p1= MyClass()
print(p1.x)

5

In [102]:
import mymodule as mx

ModuleNotFoundError: No module named 'mymodule'